/*******************************************************************************
*               Tous les styles spécifiques aux paramètres
*******************************************************************************/

/***** Paramètres des webradios *****/

.radio-desc td {
    vertical-align: middle;
    white-space: normal;
    font-size : 75%;
}

.radio-desc .icon {
    width: 50px;
}

.radio-desc .name {
    max-width: 100px;
}

.radio-desc .adresse {
    max-width: 400px;
}