/*******************************************************************************
*               Tous les styles spécifiques aux paramètres
*******************************************************************************/

/***** Paramètres des webradios *****/

table > tbody > .radio-desc > td {
    vertical-align: middle;
    white-space: normal;
}

.radio-desc .icon {
    width: 50px;
}

.radio-desc .name {
    max-width: 150px;
}

.radio-desc .adresse {
    max-width: 450px;
}

td.btn-col {
    text-align: right;
}

.small-button-group a{
    color: grey;
    margin-right: 10px;
    padding: 0px;
}

.small-button-group a:last-child {
    margin-right: 0px;
}

/** Message d'erreur **/

#generalErreur {
    margin-top: 30px;
}

/***** Onglet invisibles *****/

.nav>li:not(.active).vanish {
    display: none;
}