/*******************************************************************************
*               Tous les styles spécifiques aux paramètres
*******************************************************************************/

/***** Paramètres des webradios *****/

table > tbody > .radio-desc > td {
    vertical-align: middle;
    white-space: normal;
}

.radio-desc .icon {
    width: 50px;
}

.radio-desc .name {
    max-width: 150px;
}

.radio-desc .adresse {
    max-width: 450px;
}

td.btn-col {
    text-align: right;
}

.small-button-group a{
    color: grey;
    margin-right: 10px;
    padding: 0px;
}

.small-button-group a:last-child {
    margin-right: 0px;
}
#table-frame {
    text-align: center;
}

#table-frame .pagination {
    margin: auto;
    cursor: pointer;
}

.table.table-hover.radio-search {
    text-align: left;
}


.radio-search tr {
    cursor: pointer;
}

/** Message d'erreur **/

#generalErreur {
    margin-top: 30px;
}

/***** Onglet invisibles *****/

.nav>li:not(.active).vanish {
    display: none;
}

/**************************** Liste des sonneries *****************************/

#wake-list td, #wake-list>thead>tr>th {
    text-align: center;
}

#wake-list tbody>tr:not(.enable) {
    opacity: 0.3;
}

#wake-list .day:not(.active) span {
    display: none;
}

#wake-list .day.active i{
    display: none;
}

#wake-list .day.active{
    background-color: #E0E0E0;
}