/************************************************
        Pour le caroussel de présentation
************************************************/

#presentation{
    max-width: 860px;
  
    margin-left: auto;
    margin-right: auto;
}

#presentation img {
    min-width: 860px;
    height: 500px;
}